<!DOCTYPE html>
<html>
<head>
    <title>chat room</title>
    <link rel="stylesheet" href="./stylesheets/chat.css">
    <script src></script>
    <script>

    </script>
</head>
<body>
    <div class="container">
        <div class="chat-room">
            <h4><%=title%></h4>
            <div class="messages">

            </div>
        </div>
        <div class="profile">

        </div>

    </div>

</body>
</html>