<!DOCTYPE html>
<html>
<head>
    <title>chat room</title>
    <link rel="stylesheet" href="./stylesheets/chat.css">
    <script src></script>
    <script>
        window.onload = function(){
          var loginForm = document.querySelector('.login');
          var signupForm = document.querySelector('.signup');
          var signupPass = signupForm.querySelectorAll('input[type=password]')[0];
          var signupCon = signupForm.querySelectorAll('input[type=password]')[1];
          var notification = signupForm.querySelector('.notification');

          signupForm.onchange = function(){
            if(signupPass.value && signupCon.value && signupPass.value === signupCon.value){
              notification.style.color = '#42f47d';
              notification.innerHTML = 'Password mathcing';
            }else if(signupPass.value && signupCon.value && signupPass.value !== signupCon.value){
              notification.style.color = '#bc2e1e';
              notification.innerHTML = 'Password not matching';
            }else{
              console.log('no input');
            }
          }
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="chat-room">
            <h4><%=title%></h4>
            <div class="messages">

            </div>
        </div>
        <div class="profile">
            <%if(!user){%>
            <form class="user login" action="/chat/login" method="post">
                <input type="text" name="username" value="" placeholder="user name">
                <input type="password" name="password" value="" placeholder="password">
                <input type="submit" value="log in">
            </form>
            <br>
            <form class='user signup' action="/chat/signup" method="post">
                <p class="notification"></p>
                <input type="text" name="username" value="" placeholder="key in username to signup" >
                <input type="password" name="password" value="" placeholder="password">
                <input type="password" name="confirmation" value="" placeholder="confirm ur password">
                <input type="submit" value="Sign Up Now">
            </form>

            <%}else{%>
            <span>Welcome Dear</span>
            <strong><%=user.name%></strong>
            <form class='msg-input' action="/chat/sendmsg" method="post">
                <textarea name="msg" id="" cols="30" rows="10"></textarea>
                <br>
                <input type="submit" value="Send~">
            </form>
            <%}%>


        </div>

    </div>

</body>
</html>