.container{
    font-family: "Helvetica Neue", "Heiti SC", SansSerif;
    color: #000;
    min-height: 400px;
    min-width: 600px;
    background: linear-gradient(to left, #00B7FF, #42e2f4);
    margin: 50px;
    box-sizing: border-box;
    position: relative;
  padding-bottom: 20px;
}
.chat-room{
    min-height: 380px;
    width: 70%;
    float: left;
    position: relative;
    top: 10px;
    box-sizing: border-box;
    background: #ccc;
    opacity: 0.9;
}
.chat-room>h4{
    font-size: 20px;
    margin: 0;
    padding: 0 20px;
    height: 20px;
    line-height: 20px;
}
.messages{
    min-height: 360px;
    box-sizing: border-box;
    background-image: linear-gradient(to left, #cccccc, #333);
    opacity: 0.7;
}
.messages > div{
  min-height: 70px;
  padding:0;
  border-bottom: 1px solid white;
  margin: 0;
  color: #fff;
  opacity: 1;
  /*overflow: scroll; */
}
.messages > div >p{
  margin: 0;
  padding: 10px 0 0 20px;
}

#msg-content{
  font-size: 25px;
}
#msg-timing{
  font-size: 10px;
  padding: 20px;
}

.profile{
    min-height: 200px;
    width: 28%;
    float: left;
    position: relative;
    box-sizing: border-box;
    background: #ccc;
    opacity: 0.7;
    top: 50px;
    margin-left: 10px;
}
.profile > span{
  font-size: 20px;
  margin-left: 20px;
}
.profile > strong{
  font-size: 35px;
}
.container::after{
  content:'';
  display: block;
  clear: both;
}

.user > input{
  display: block;
  margin: 10px;
}

.msg-input{
  margin-top: 20px;
  margin-left: 20px;
}
